

*
{
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #222;
}
.card
{
    width: 90%;
    width:380px;
 
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    text-align: center;
    padding: 10px 10px ;
    margin: 100px auto 0;
    border-radius: 20px;
}
.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 20px;
}
input
{
    border:0;
     outline:none;
     background-color: #ebfffc;
     color: #555;
     height: 40px;
     border-radius: 30px;
     font-size: 18px;
    padding: 5px 15px 5px 15px;
     margin-right:10px ;
     flex: 1;
}
button
{
    border:0;
    outline:none;
    background-color: #ebfffc;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    cursor: pointer;
    margin-right: 70px;

    padding: 10px;
}
button img
{
    width: 15px;

}
.weather-icon
{
    width: 170px;
}
.weather h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: -10px;

}
.details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 50px;
}
.col
{
    display: flex;
    text-align: center;
    align-items: center;
}
.col img{
    width: 30px;
    margin-left: 15px;
}
.humidity, .wind
{
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 9px;
}

.weather{
    display:none;
}
.error
{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
    /* set display none means agr invalid city enter kry tn hi msg show ho otherwisw sisplay na ho */
    display: none;

}

